body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

code {
  font-family: 'Courier New', Courier, monospace;
  background-color: #eee;
  padding: 0.2em 0.4em;
  border-radius: 4px;
  color: #d63384;
}
